/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #222;
    line-height: 1.6;
}

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f5f7ff;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
}

.hero p {
    margin: 15px 0;
    font-size: 1.1rem;
}

.btn {
    text-decoration: none;
    background: #4f46e5;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    margin-top: 20px;
    transition: 0.3s;
}

.btn:hover {
    background: #3730a3;
}

/* SECTIONS */
section {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

/*ABOUT*/
#about {
    padding: 80px 20px;
}

.about-content {
    max-width: 700px; /* controls text width */
    margin: 0 auto; /* centers the block */
    text-align: left; /* important for readability */
}

.about-content p {
    margin-bottom: 18px;
    font-size: 1rem;
    line-height: 1.8;
    color: #333;
}

/* SKILLS */
#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    list-style: none;
}

#skills li {
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/*Experience*/
.exp-card {
    
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.exp-card ul {
    margin-top: 10px;
    padding-left: 20px;
}

.exp-company {
    font-size: 0.9rem;
    opacity: 0.7;
}

.exp-company a{
    text-decoration: none;
    font-weight: 500;
    
}

/* PROJECTS */
.project-card {
    background: #fafafa;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-links {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.project-links a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    background: #4f46e5;
    color: white;
    font-size: 0.9rem;
}

.project-links a:hover {
    background: #3730a3;
}

.edu-card{
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: #111;
    color: #fff;
}
footer p {
    margin: 6px 0;
}

footer .copyright {
    margin-top: 15px;
    font-size: 0.85rem;
    opacity: 0.7;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.2rem;
    }
}
/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 1000;
}

.logo {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.nav-links a:hover {
    color: #4f46e5;
}

#theme-toggle{
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

header.hero {
    padding-top: 100px;
}

section {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

section p {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.project-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

body.dark {
    background: #0f172a;
    color: #0a2150;
}

body.dark .navbar {
    background: #020617;
    color: #eef2ff;
}

body.dark section {
    background: transparent;
    color: #eef2ff;
}

body.dark .project-card {
    background: #020617;
}

body.dark .exp-card{
    background: #020617;
}

body.dark .edu-card{
    background: #020617;
}

body.dark .about-content p{
    color:#eef2ff
}

body.dark .skills-card{
    background: #020617;
}

body.dark .nav-c{
    background: #020617;
    color: #f5f7ff;
}

body.dark .hero{
    background: #1a2438;
    color: #eef2ff;
}

body.dark footer {
    background: #020617;
}

body.dark .logo{
    color: #eef2ff;
}

.foot-logo{
    color: #fcfcfc;
}

.navbar-logo{
    color: #000000;
}

body.dark .navbar-logo{
    color: #eef2ff;
}

.linkedin-logo{
    color: #2a23a7;
}

.github-logo{
    color: #000000;
}